<h1>Estoque</h1>
<% options = []%>
<% options << [''] %>
<% options << ['Todos',''] %>
<% options << [''] %>
<% @usuarios.collect{|u| options << [u.name, u.id]}%>

  <form action='<%= estoque_path%>' method='get'>
  <%= select('query','usuario', options , {:prompt => 'Logs por Usuario'} , :onchange => "
  this.form.submit();") %>
  </form>

<% if  params[:query] && !params[:query][:usuario].empty?%>
<h3><%= "Resultados para o Usuario: '#{Usuario.find(params[:query][:usuario])}'"%></h3>  
<% end %>

<table class="table table-hover table-bordered">
  <tr>
    <th>Qrcode</th>
    <th>Inserção</th>
    <th>Usuario</th>
  </tr>

  <% @logs.each do |log| %>
  <tr>
    <td><%= log.qrcode %></td>
    <td><%= log.dh_ins %></td>
    <td><%= log.usuario %></td>
  </tr>
<% end %>  
</table>
<%= will_paginate @logs %>

<br />


