<p id="notice"><%= notice %></p>

<p>
  <b>Rua:</b>
  <%= @trecho.street %>
</p>

<p>
  <b>Perimetro:</b>
  <%= @trecho.perimeter %>
</p>

<p>
  <b>Inicio lado Esquerdo:</b>
  <%= @trecho.side_left_start %>
</p>

<p>
  <b>Fim lado Esquerdo</b>
  <%= @trecho.side_left_stop %>
</p>

<p>
  <b>Inicio lado Direito</b>
  <%= @trecho.side_right_start %>
</p>

<p>
  <b>Fim lado Direito</b>
  <%= @trecho.side_right_stop %>
</p>


<%= link_to 'Editar', edit_trecho_path(@trecho) %> |
<%= link_to 'Voltar', trechos_path %>
