<h1>Alertas</h1>
<%= search_form_for @search, url: alerts_path do |f| %>
    <div class="field">
      <%= f.label :agent_nome_cont, "Nome do Usuario" %>
      <%= f.select :agent_nome_cont, @agentes %>
      <%= f.label :monitor_name_cont, "Nome do Usuario" %>
      <%= f.select :monitor_name_cont, @monitores %>
    </div>
    <div class="actions"><%= f.submit "Pesquisar", class: 'btn' %></div>
<% end %>

<table class="table table-hover table-bordered">
  <tr>
    <th>Mapa</th>
    <th><%= sort_link(@search, :dh_ins, "Data do Alerta") %></th>
    <th><%= sort_link(@search, :infracao, "Tipo de Infração") %></th>
    <th><%= sort_link(@search, :plaque, "Placa") %></th>
    <th><%= sort_link(@search, :description, "Observação") %></th>
    <th><%= sort_link(@search, :monitor, "Monitor") %></th>
    <th><%= sort_link(@search, :agent, "Agente") %></th>
    <th><%= sort_link(@search, :dh_rx, "Data de Atendimento") %></th>
    <th><%= sort_link(@search, :status, "Status") %></th>

  </tr>


  <% @alerts.each do |alert| %>
      <tr>
        <td><a data-target="#myModal" role="button" class="btn" data-toggle="modal" data-remote="alerts/map/<%= alert.id%>"><%= image_tag('target.png', alt: 'Ver no Mapa', title: 'Ver no Mapa' ) %></a></td>
        <td><%= l alert.dh_ins, format: :short if alert.dh_ins  %></td>
        <td><%= alert.infracao %></td>
        <td><%= alert.plaque %></td>
        <td><%= alert.description %></td>
        <td><%= alert.monitor %></td>
        <td><%= alert.agent %></td>
        <td><%= l alert.dh_rx, format: :short if alert.dh_rx  %></td>
        <td><%= alert.status %></td>


      </tr>
  <% end %>
</table>
<%= will_paginate @alerts %>

<br />

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mapa</h3>
  </div>
  <div class="modal-body">
    <p>Carregando...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
