<h1>Alertas</h1>
<%= search_form_for @search, url: alerts_path do |f| %>
    <div class="field">
      <%= field_set_tag do %>
        <%= f.label :agent_nome_cont, "Nome do Agente" %>
        <%= f.select :agent_nome_cont, @agentes,  {:include_blank => true} %>
        <%= f.label :monitor_name_cont, "Nome do Monitor" %>
        <%= f.select :monitor_name_cont, @monitores, {:include_blank => true} %>
        <%= f.label :status_description_cont, "Status" %>
        <%= f.select :status_description_cont, AlertType.all, {:include_blank => true} %>
        <%= f.label :plaque_cont, "Placa" %>
        <%= f.text_field :plaque_cont %>
      <%end%>
      <%= field_set_tag 'Data do Alerta' do %>
        <%= f.label :dh_ins_gteq, "Depois de" %>
        <%= f.text_field :dh_ins_gteq, class: 'datepicker' %>
        <%= f.label :dh_ins_lteq, "Antes de" %>
        <%= f.text_field :dh_ins_lteq, class: 'datepicker' %>
      <%end%>
      <%= field_set_tag 'Data do Atendimento' do %>
        <%= f.label :dh_rx_gteq, "Depois de" %>
        <%= f.text_field :dh_rx_gteq, class: 'datepicker' %>
        <%= f.label :dh_rx_lteq, "Antes de" %>
        <%= f.text_field :dh_rx_lteq, class: 'datepicker' %>
      <%end%>      
      <div class="actions"><%= f.submit "Pesquisar", class: 'btn' %></div>
    </div>
    
<% end %>

<table class="table table-hover table-bordered">
  <tr>
    <th>Mapa</th>
    <th><%= sort_link(@search, :dh_ins, "Data do Alerta") %></th>
    <th><%= sort_link(@search, :infracao_description, "Tipo de Infração") %></th>
    <th><%= sort_link(@search, :plaque, "Placa") %></th>
    <th><%= sort_link(@search, :description, "Observação") %></th>
    <th><%= sort_link(@search, :monitor_name, "Monitor") %></th>
    <th><%= sort_link(@search, :agent, "Agente") %></th>
    <th><%= sort_link(@search, :dh_rx, "Data de Atendimento") %></th>
    <th><%= sort_link(@search, :status_description, "Status") %></th>

  </tr>


  <% @alerts.each do |alert| %>
      <tr>
        <td>
        <a id="file_attach" data-toggle="modal" href="alerts/map/<%= alert.id %>" data-target="#utility" class="btn">
          <%= image_tag('target.png', alt: 'Ver no Mapa', title: 'Ver no Mapa' ) %>
        </a>
        </td>
        <td><%= l alert.dh_ins, format: :short if alert.dh_ins  %></td>
        <td><%= alert.infracao %></td>
        <td><%= alert.plaque %></td>
        <td><%= alert.description %></td>
        <td><%= alert.monitor %></td>
        <td><%= alert.agent %></td>
        <td><%= l alert.dh_rx, format: :short if alert.dh_rx  %></td>
        <td><%= alert.status %></td>


      </tr>
  <% end %>
</table>
<%= will_paginate @alerts %>

<br />

<%= render 'usuarios/modal_body' %>
<script type="text/javascript">
  $('.datepicker').datepicker()
</script>
<style type="text/css">
fieldset {
    display: inline;
    margin: 10px;
    width: auto;
}
</style>