<h1>Alertas</h1>

<table class="table table-hover table-bordered">
  <tr>
    <th>Data do Registro</th>
    
    <th>Espaço</th>
    <th>Placa</th>
    <th>Descrição</th>
    <th>Data da Inserão</th>
    <th>Cod. Infração</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Status</th>
  </tr>

<% @alerts.each do |alert| %>
  <tr>
    <td><%= alert.dh_rx %></td>
    <td><%= alert.space %></td>
    <td><%= alert.plaque %></td>
    <td><%= alert.description %></td>
    <td><%= alert.dh_ins %></td>
    <td><%= alert.cod_infraction %></td>
    <td><%= alert.latitude %></td>
    <td><%= alert.longitude %></td>
    <td><%= alert.status %></td>
  </tr>
<% end %>
</table>

<br />

