<h1>Usuários</h1>
<a class="btn todas-posicoes-btn" href="mapa/usuarios">Ultimas Posições</a><br>
<table class="table table-hover table-bordered">
  <tr>
    <th>Ver no Mapa</th>
    <th>Matricula</th>
    <th>Nome</th>
    
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td>
      <a id="file_attach" data-toggle="modal" href="usuarios/map/<%=usuario.id%>" data-target="#utility" class="btn">
          <%= image_tag('target.png', alt: 'Ver no Mapa', title: 'Ver no Mapa' ) %>
        </a>
    </td>
    <td><%= usuario.matricula %></td>
    <td><%= usuario.name %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @usuarios%>

<%= render 'modal_body' %>