<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @gerenciar_usuario.index %>
</p>

<p>
  <b>Create:</b>
  <%= @gerenciar_usuario.create %>
</p>


<%= link_to 'Edit', edit_gerenciar_usuario_path(@gerenciar_usuario) %> |
<%= link_to 'Back', gerenciar_usuarios_path %>
